# Which notes to test:
# e.g., ':notes: C G' tests C and G
# Special values:
#   input    user inputs from command line
#   all      test all notes
#   cycle    cycle through pairs of notes throughout the year
:notes: cycle

# Always test the following notes on these strings:
:persistent:
  - :string: 3
    :note: Bb
  - :string: 4
    :note: Db